# Information processing from json and xml files

Find all users and number of their comments.

### json

In [8]:
import json
d={}
with open('comments_326022.json', 'r', encoding = 'utf8') as f:
    data = json.load(f)
insdict=data["comments"]
for oneinsdict in insdict:
    for keyone in oneinsdict:
        if keyone=='name':
            dictkey=oneinsdict[keyone]
        else:
            d[dictkey]=oneinsdict[keyone]
print(d) 
number_of_comments=0
for keyd, value in d.items():
    number_of_comments=number_of_comments+value
print("TOTAL", number_of_comments)

{'Kyalah': 96, 'Dissanayake': 95, 'Tyson': 90, 'Denhi': 89, 'Findlie': 88, 'Niamh': 87, 'Ayaan': 87, 'Manisha': 86, 'Kathryn': 84, 'Steven': 82, 'Jazib': 82, 'Aila': 80, 'Lexie': 78, 'Finnean': 77, 'Archibald': 74, 'Abbeygale': 73, 'Aphra': 64, 'Domenico': 63, 'Angel': 63, 'Chardonnay': 57, 'Edwyn': 54, 'Madisyn': 52, 'Lucais': 51, 'Faisal': 51, 'Ronnie': 50, 'Luk': 48, 'Keemaya': 45, 'Tylor': 44, 'Roxabella': 36, 'Kassey': 35, 'Brookelyn': 34, 'Sayeed': 34, 'Mornach': 33, 'Hunter': 32, 'Page': 23, 'Coco': 22, 'Khalida': 21, 'Mahan': 20, 'Keetza': 19, 'Brooklynn': 19, 'Keigan': 17, 'Jannat': 17, 'Raina': 16, 'Anneroy': 16, 'Merissa': 14, 'Sarina': 6, 'Ali': 6, 'Kori': 5, 'Asa': 3, 'Kelsey': 1}
TOTAL 2419

In [9]:
d={}
with open('comments_326022.json', 'r', encoding = 'utf8') as f:
    data = json.load(f)
insdict=data["comments"]
for oneinsdict in insdict:
    name = oneinsdict['name']
    count = oneinsdict['count']
    d[name]= count
print(d) 
number_of_comments = sum(d.values())

{'Kyalah': 96, 'Dissanayake': 95, 'Tyson': 90, 'Denhi': 89, 'Findlie': 88, 'Niamh': 87, 'Ayaan': 87, 'Manisha': 86, 'Kathryn': 84, 'Steven': 82, 'Jazib': 82, 'Aila': 80, 'Lexie': 78, 'Finnean': 77, 'Archibald': 74, 'Abbeygale': 73, 'Aphra': 64, 'Domenico': 63, 'Angel': 63, 'Chardonnay': 57, 'Edwyn': 54, 'Madisyn': 52, 'Lucais': 51, 'Faisal': 51, 'Ronnie': 50, 'Luk': 48, 'Keemaya': 45, 'Tylor': 44, 'Roxabella': 36, 'Kassey': 35, 'Brookelyn': 34, 'Sayeed': 34, 'Mornach': 33, 'Hunter': 32, 'Page': 23, 'Coco': 22, 'Khalida': 21, 'Mahan': 20, 'Keetza': 19, 'Brooklynn': 19, 'Keigan': 17, 'Jannat': 17, 'Raina': 16, 'Anneroy': 16, 'Merissa': 14, 'Sarina': 6, 'Ali': 6, 'Kori': 5, 'Asa': 3, 'Kelsey': 1}

In [10]:
sum(d.values())

2419

### xml

In [11]:
import xml.etree.ElementTree as ET
#"comments_326018.xml"
di={}
tree = ET.parse("comments_326018.xml")
root=tree.getroot()
print(root)
for e in root:
    print(e)

<Element 'commentinfo' at 0x000002066E4F1770>
<Element 'note' at 0x000002066E4F1400>
<Element 'comments' at 0x000002066E4F1680>

In [12]:
#"comments_326018.xml"
d={}
s=0
tree = ET.parse("comments_326018.xml")
for e in tree.find('.//comments'):
    #print(e)
    name=e.find('name')
    count=e.find("count")
    d[name.text]=count.text
    b=int(count.text)
    s=s+b
print(d)
print("TOTAL", s)

{'Anise': '97', 'Mowmita': '96', 'Enrique': '92', 'Kirsten': '91', 'Robby': '91', 'Priscillia': '88', 'Chardonnay': '87', 'Farzad': '87', 'Manmohan': '84', 'Jubin': '83', 'Zeinab': '81', 'Muran': '78', 'Alanda': '75', 'Florence': '70', 'Havila': '69', 'Tiegan': '67', 'Carmel': '64', 'Zakaria': '63', 'Keerah': '59', 'Jakub': '55', 'Romany': '54', 'Rhuan': '50', 'Jian': '49', 'Mirabelle': '47', 'Derri': '43', 'Andrew': '42', 'Maryum': '42', 'Prinay': '40', 'Dominik': '37', 'Liv': '37', 'Mohammed': '36', 'Ayman': '32', 'Karissa': '32', 'Mercedes': '32', 'Rimal': '32', 'Aaminah': '31', 'Glascott': '31', 'Anubhav': '28', 'Caiden': '27', 'Al': '15', 'Pia': '15', 'Milley': '14', 'Rosie': '14', 'Mena': '13', 'Kael': '13', 'Mackenzie': '11', 'Stefin': '5', 'Sanaa': '4', 'Caera': '3', 'Alastair': '1'}
TOTAL 2407