In [2]:
import random
import math
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [60]:
df = pd.read_csv("drom_new.csv",sep=',', encoding='cp1251')
drom=df.iloc[:, 1:16]
drom.head()

,firm,model,privod,frame_type,generation_number,year,restyling_number,mileage,transmission,engine_power,steering_wheel,fuel_type,volume,ownership_periods,price
0,Ford,Fiesta,Передний (FF),HATCH,5,2007,1,93000,MANUAL,101,left,GASOLINE,1600.0,4.0,258000
1,Hyundai,Santa Fe Classic,Передний (FF),SUV,1,2008,0,78000,MANUAL,112,left,DIESEL,2000.0,1.0,495000
2,УАЗ,3151,Полный (4WD),SUV,1,2009,0,52000,MANUAL,93,left,DIESEL,2200.0,1.0,310000
3,Toyota,RAV4,Полный (4WD),SUV,3,2010,1,97000,AUTO,152,left,GASOLINE,2000.0,2.0,1050000
4,Suzuki,Grand Vitara XL-7,Полный (4WD),SUV,-1,2007,-1,77000,AUTO,250,left,GASOLINE,3600.0,5.0,755000

In [61]:
drom.loc[(drom.fuel_type =="UNKNOWN"), 'fuel_type'] = np.nan
drom.loc[(drom.fuel_type ==""), 'fuel_type'] = np.nan
drom.loc[(drom.privod =="UNKNOWN"), 'privod'] = np.nan
drom.loc[(drom.transmission =="UNKNOWN"), 'transmission'] = np.nan
drom.loc[(drom.ownership_periods ==44456), 'ownership_periods'] = np.nan
drom.loc[(drom.ownership_periods ==44467), 'ownership_periods'] = np.nan
drom.loc[(drom.steering_wheel =="GASOLINE"), 'steering_wheel'] = np.nan
drom.loc[(drom.engine_power =="left"), 'engine_power'] = np.nan

In [62]:
drom.loc[(drom.privod =="Передний (FF)"), 'privod'] = "FF"
drom.loc[(drom.privod =="Полный (4WD)"), 'privod'] = "4WD"
drom.loc[(drom.privod =="Задний (FR)"), 'privod'] = "FR"
drom.loc[(drom.privod =="Задний (PR)"), 'privod'] = "PR"
drom.loc[(drom.privod =="Задний"), 'privod'] = "RR"
drom.rename(columns={'privod': 'drive'}, inplace=True)

In [63]:
drom=drom.set_index('firm')

In [64]:
drom.drop(['Богдан'], axis=0, inplace=True)
drom.drop(['ГАЗ'], axis=0, inplace=True)
drom.drop(['ЗАЗ'], axis=0, inplace=True)
drom.drop(['ИЖ'], axis=0, inplace=True)
drom.drop(['Лада'], axis=0, inplace=True)
drom.drop(['ЛуАЗ'], axis=0, inplace=True)
drom.drop(['Москвич'], axis=0, inplace=True)
drom.drop(['Прочие авто'], axis=0, inplace=True)
drom.drop(['ТагАЗ'], axis=0, inplace=True)
drom.drop(['УАЗ'], axis=0, inplace=True)

In [65]:

drom.to_csv("dromset.csv", sep=',', encoding='cp1251')

In [4]:
df = pd.read_csv("dromset.csv",sep=',', encoding='cp1251')
drom=df.iloc[:, 1:16]
drom.head()

,model,drive,frame_type,generation_number,year,restyling_number,mileage,transmission,engine_power,steering_wheel,fuel_type,volume,ownership_periods,price
0,Fiesta,FF,HATCH,5,2007,1,93000,MANUAL,101.0,left,GASOLINE,1600.0,4.0,258000
1,Santa Fe Classic,FF,SUV,1,2008,0,78000,MANUAL,112.0,left,DIESEL,2000.0,1.0,495000
2,RAV4,4WD,SUV,3,2010,1,97000,AUTO,152.0,left,GASOLINE,2000.0,2.0,1050000
3,Grand Vitara XL-7,4WD,SUV,-1,2007,-1,77000,AUTO,250.0,left,GASOLINE,3600.0,5.0,755000
4,Antara,4WD,SUV,1,2008,0,75000,AT,140.0,left,GASOLINE,2400.0,2.0,640000

In [8]:
DF_new_row=drom.loc[drom['fuel_type']==' ']
drom.iloc[45]['fuel_type']

nan

In [138]:
drom_selected_numeric=drom.iloc[:, [4,5,6,9,12,13,14]]
drom_selected_numeric

,generation_number,year,restyling_number,engine_power,volume,ownership_periods,price
0,5,2007,1,101,1600.0,4.0,258000
1,1,2008,0,112,2000.0,1.0,495000
2,1,2009,0,93,2200.0,1.0,310000
3,3,2010,1,152,2000.0,2.0,1050000
4,-1,2007,-1,250,3600.0,5.0,755000
...,...,...,...,...,...,...,...
13660,3,2014,0,140,1400.0,2.0,699000
13661,1,2006,0,77,1500.0,4.0,99000
13662,-1,2019,-1,150,2800.0,2.0,1450000
13663,-1,2019,-1,149,2800.0,2.0,1450000
13664,1,2015,0,102,1600.0,3.0,700000

In [131]:
encoder=ce.OneHotEncoder(cols='firm',handle_unknown='return_nan',return_df=True,use_cat_names=True)
firm_encoded = encoder.fit_transform(drom.iloc[:,0])
encoder=ce.OneHotEncoder(cols='model',handle_unknown='return_nan',return_df=True,use_cat_names=True)
model_encoded = encoder.fit_transform(drom.iloc[:,1])
encoder=ce.OneHotEncoder(cols='privod',handle_unknown='return_nan',return_df=True,use_cat_names=True)
privod_encoded = encoder.fit_transform(drom.iloc[:,2])
encoder=ce.OneHotEncoder(cols='frame_type',handle_unknown='return_nan',return_df=True,use_cat_names=True)
frame_type_encoded = encoder.fit_transform(drom.iloc[:,3])
encoder=ce.OneHotEncoder(cols='transmission',handle_unknown='return_nan',return_df=True,use_cat_names=True)
transmission_encoded = encoder.fit_transform(drom.iloc[:,8])
encoder=ce.OneHotEncoder(cols='steering_wheel',handle_unknown='return_nan',return_df=True,use_cat_names=True)
steering_wheel_encoded = encoder.fit_transform(drom.iloc[:,10])
encoder=ce.OneHotEncoder(cols='fuel_type',handle_unknown='return_nan',return_df=True,use_cat_names=True)
fuel_type_encoded = encoder.fit_transform(drom.iloc[:,11])

In [132]:
encoded_drom=pd.concat([firm_encoded,model_encoded,privod_encoded, frame_type_encoded,transmission_encoded, steering_wheel_encoded, fuel_type_encoded,drom_selected_numeric], axis=1)
encoded_drom

,firm_Ford,firm_Hyundai,firm_УАЗ,firm_Toyota,firm_Suzuki,firm_Opel,firm_Mazda,firm_Nissan,firm_Mitsubishi,firm_Land Rover,...,fuel_type_ELECTRO,fuel_type_2400,fuel_type_1400,generation_number,year,restyling_number,engine_power,volume,ownership_periods,price
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,5,2007,1,101,1600.0,4.0,258000
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1,2008,0,112,2000.0,1.0,495000
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1,2009,0,93,2200.0,1.0,310000
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3,2010,1,152,2000.0,2.0,1050000
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,-1,2007,-1,250,3600.0,5.0,755000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13660,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3,2014,0,140,1400.0,2.0,699000
13661,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1,2006,0,77,1500.0,4.0,99000
13662,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,-1,2019,-1,150,2800.0,2.0,1450000
13663,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,-1,2019,-1,149,2800.0,2.0,1450000
13664,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1,2015,0,102,1600.0,3.0,700000

In [133]:
encoded_drom.to_csv("encoded_drom.csv", sep=',', encoding='cp1251')

# PCA

Standartization

In [134]:
drom_selected_numeric

,generation_number,year,restyling_number,engine_power,volume,ownership_periods,price
0,5,2007,1,101,1600.0,4.0,258000
1,1,2008,0,112,2000.0,1.0,495000
2,1,2009,0,93,2200.0,1.0,310000
3,3,2010,1,152,2000.0,2.0,1050000
4,-1,2007,-1,250,3600.0,5.0,755000
...,...,...,...,...,...,...,...
13660,3,2014,0,140,1400.0,2.0,699000
13661,1,2006,0,77,1500.0,4.0,99000
13662,-1,2019,-1,150,2800.0,2.0,1450000
13663,-1,2019,-1,149,2800.0,2.0,1450000
13664,1,2015,0,102,1600.0,3.0,700000

In [142]:
drom_selected_numeric_stand=drom_selected_numeric.iloc[:, 0:6]
con_vars = ['generation_number', 'year', 'restyling_number', 'engine_power', 'volume', 'ownership_periods']
scaler = StandardScaler()
drom_selected_numeric_stand[con_vars]=scaler.fit_transform(drom_selected_numeric_stand[con_vars])
drom_selected_numeric_stand

,generation_number,year,restyling_number,engine_power,volume,ownership_periods
0,1.384813,-0.625269,1.148015,-0.541736,-0.433255,0.498630
1,-0.558597,-0.480744,-0.586766,-0.380903,0.104777,-0.648747
2,-0.558597,-0.336220,-0.586766,-0.658705,0.373793,-0.648747
3,0.413108,-0.191695,1.148015,0.203942,0.104777,-0.266288
4,-1.530302,-0.625269,-2.321548,1.636813,2.256904,0.881090
...,...,...,...,...,...,...
13660,0.413108,0.386404,-0.586766,0.028488,-0.702271,-0.266288
13661,-0.558597,-0.769794,-0.586766,-0.892643,-0.567763,0.498630
13662,-1.530302,1.109028,-2.321548,0.174700,1.180841,-0.266288
13663,-1.530302,1.109028,-2.321548,0.160078,1.180841,-0.266288
13664,-0.558597,0.530929,-0.586766,-0.527115,-0.433255,0.116171

dataframes to reduce with PCA, variance 95

In [225]:
#firm_encoded
#model_encoded
#privod_encoded
#frame_type_encoded
#transmission_encoded
#steering_wheel_encoded
fuel_type_encoded

,fuel_type_GASOLINE,fuel_type_DIESEL,fuel_type_nan,fuel_type_ELECTRO,fuel_type_2400,fuel_type_1400
0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...
13660,1.0,0.0,0.0,0.0,0.0,0.0
13661,1.0,0.0,0.0,0.0,0.0,0.0
13662,0.0,1.0,0.0,0.0,0.0,0.0
13663,0.0,1.0,0.0,0.0,0.0,0.0
13664,1.0,0.0,0.0,0.0,0.0,0.0

In [227]:
np.cumsum(pca_d.explained_variance_ratio_ * 100)[-1]

99.95351798603463

In [226]:
pca_d = PCA(n_components=4)
pca_d.fit(fuel_type_encoded)

PCA(n_components=4)

In [228]:
pca = PCA(n_components=30)
pca.fit(firm_encoded)
pca_firm_encoded=pd.DataFrame(pca.transform(firm_encoded), columns=['firm%i' % i for i in range(30)], index=firm_encoded.index)

pca = PCA(n_components=430)
pca.fit(model_encoded)
pca_model_encoded=pd.DataFrame(pca.transform(model_encoded), columns=['model%i' % i for i in range(430)], index=model_encoded.index)

pca = PCA(n_components=3)
pca.fit(privod_encoded)
pca_privod_encoded=pd.DataFrame(pca.transform(privod_encoded), columns=['privod%i' % i for i in range(3)], index=privod_encoded.index)

pca = PCA(n_components=6)
pca.fit(frame_type_encoded)
pca_frame_type_encoded=pd.DataFrame(pca.transform(frame_type_encoded), columns=['frame_type%i' % i for i in range(6)], index=frame_type_encoded.index)

pca = PCA(n_components=4)
pca.fit(transmission_encoded)
pca_transmission_encoded=pd.DataFrame(pca.transform(transmission_encoded), columns=['transmission%i' % i for i in range(4)], index=transmission_encoded.index)

pca = PCA(n_components=3)
pca.fit(steering_wheel_encoded)
pca_steering_wheel_encoded=pd.DataFrame(pca.transform(steering_wheel_encoded), columns=['steering_wheel%i' % i for i in range(3)], index=steering_wheel_encoded.index)

pca = PCA(n_components=4)
pca.fit(fuel_type_encoded)
pca_fuel_type_encoded=pd.DataFrame(pca.transform(fuel_type_encoded), columns=['fuel_type%i' % i for i in range(4)], index=fuel_type_encoded.index)

In [229]:
pca_steering_wheel_encoded

       steering_wheel0  steering_wheel1  steering_wheel2
0            -0.114836        -0.002334    -2.540936e-15
1             1.299130        -0.028786     2.839959e-14
2             1.299130        -0.028786     2.839959e-14
3            -0.114836        -0.002334    -2.540936e-15
4            -0.114836        -0.002334    -2.540936e-15
...                ...              ...              ...
13660        -0.114836        -0.002334    -2.540936e-15
13661        -0.114836        -0.002334    -2.540936e-15
13662         1.299130        -0.028786     2.839959e-14
13663         1.299130        -0.028786     2.839959e-14
13664        -0.114836        -0.002334    -2.540936e-15

[13665 rows x 3 columns]

In [230]:
final_drom=pd.concat([pca_firm_encoded,pca_model_encoded,pca_privod_encoded, pca_frame_type_encoded,pca_transmission_encoded, pca_steering_wheel_encoded, pca_fuel_type_encoded,drom_selected_numeric_stand], axis=1)
final_drom

,firm0,firm1,firm2,firm3,firm4,firm5,firm6,firm7,firm8,firm9,...,fuel_type0,fuel_type1,fuel_type2,fuel_type3,generation_number,year,restyling_number,engine_power,volume,ownership_periods
0,-0.155362,-0.048900,-0.061565,-0.076773,-0.092481,-0.022325,0.149268,0.602136,0.733667,0.097613,...,-0.114884,-0.004432,-0.000666,-0.000034,1.384813,-0.625269,1.148015,-0.541736,-0.433255,0.498630
1,-0.216521,-0.388024,0.810054,0.211490,0.114753,0.016381,-0.065876,-0.078105,0.044445,0.016554,...,1.298223,-0.059857,-0.008186,-0.000403,-0.558597,-0.480744,-0.586766,-0.380903,0.104777,-0.648747
2,-0.126229,-0.028528,-0.032762,-0.036322,-0.037358,-0.007618,0.040689,0.074190,-0.062865,-0.032527,...,1.298223,-0.059857,-0.008186,-0.000403,-0.558597,-0.336220,-0.586766,-0.658705,0.373793,-0.648747
3,-0.235761,0.886392,0.205851,0.118920,0.078353,0.012050,-0.050720,-0.063283,0.037200,0.014123,...,-0.114884,-0.004432,-0.000666,-0.000034,0.413108,-0.191695,1.148015,0.203942,0.104777,-0.266288
4,-0.124487,-0.027668,-0.031656,-0.034948,-0.035767,-0.007261,0.038594,0.069633,-0.058154,-0.029584,...,-0.114884,-0.004432,-0.000666,-0.000034,-1.530302,-0.625269,-2.321548,1.636813,2.256904,0.881090
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13660,-0.140198,-0.036638,-0.043600,-0.050445,-0.054673,-0.011720,0.066324,0.138900,-0.148573,-0.111548,...,-0.114884,-0.004432,-0.000666,-0.000034,0.413108,0.386404,-0.586766,0.028488,-0.702271,-0.266288
13661,0.855904,0.018413,0.017586,0.016330,0.014111,0.002513,-0.011790,-0.016995,0.011139,0.004544,...,-0.114884,-0.004432,-0.000666,-0.000034,-0.558597,-0.769794,-0.586766,-0.892643,-0.567763,0.498630
13662,-0.116271,-0.023968,-0.026994,-0.029277,-0.029364,-0.005856,0.030543,0.052976,-0.042026,-0.020217,...,1.298223,-0.059857,-0.008186,-0.000403,-1.530302,1.109028,-2.321548,0.174700,1.180841,-0.266288
13663,-0.116271,-0.023968,-0.026994,-0.029277,-0.029364,-0.005856,0.030543,0.052976,-0.042026,-0.020217,...,1.298223,-0.059857,-0.008186,-0.000403,-1.530302,1.109028,-2.321548,0.160078,1.180841,-0.266288
13664,-0.175697,-0.076182,-0.110113,-0.173893,-0.355676,-0.701614,-0.441336,-0.234412,0.099762,0.032468,...,-0.114884,-0.004432,-0.000666,-0.000034,-0.558597,0.530929,-0.586766,-0.527115,-0.433255,0.116171

In [231]:
final_drom.to_csv("final_drom.csv", sep=',', encoding='cp1251')